.App {
  text-align: left;
}
.header {
  font-size: 1em;
  font-weight: 700;
}
ul li {
  list-style: none;
}
.header h6 {
  list-style: none;
  display: inline-block;
}

.Tic-box {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 5px;
  border: 2px solid black;
  text-align: center;
  line-height: normal;
  vertical-align: bottom;
  font-size: 20px;
}